<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Go HTMX Tutor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
      integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.1/htmx.min.js"
      integrity="sha512-/POjPSnGjDaJfmt9O7LOTz1eGoCQNsVSJdgxYTVjhnWRDmuDFTvzwQrxIxipRrakLw7IYJfOsanDe7WuP40zxw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <div class="container py-3">
      <h1>Hello, {{.name}}!</h1>

      <h1>Tasks</h1>
      <br />
      <ul id="tasks">
        {{range .todos}}
        <li>
          {{.Title}} - {{.Status}}
          <button hx-delete="/todos/{{.Id}}">Delete</button>
        </li>
        {{else}}
        <li>No task found</li>
        {{end}}
      </ul>

      <form hx-post="/todos" hx-target="#tasks" hx-swap="beforeend">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" name="title" />
        </div>
        <div class="form-group">
          <label>Status</label>
          <input type="text" class="form-control" name="status" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            <i class="fa-solid fa-paper-plane"></i>
            Send
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
